<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <title>index</title>
    <link rel="stylesheet" href="//libs.cdnjs.net/Swiper/4.0.3/css/swiper.min.css">
    <!-- start:css -->
    <link rel="stylesheet" href="css/vendors-35414a1e.css"/>
    <link rel="stylesheet" href="css/index-35414a1e.css"/>
    <!-- end:css -->
</head>
<body>
    <div id="app">{{{ markup }}}</div>
    <script type="application/json" id="initial-state">{{{ initialState }}}</script>
    <script src="//libs.cdnjs.net/axios/0.9.0/axios.min.js"></script>
    <script src="//libs.cdnjs.net/Swiper/4.0.3/js/swiper.min.js"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=zxf0EospgNzyQbCGVhzy3aMeZZriGEiB"></script>
    <!-- start:js -->
    <script src="js/manifest-35414a1e.js"></script>
    <script src="vendors-35414a1e.js"></script>
    <script src="index-35414a1e.js"></script>
    <!-- end:js -->
</body>
</html>
