@import '~normalize.css/normalize.css';
@font-face {
  font-family: 'iconfont';  /* project id 204824 */
  src: url('//at.alicdn.com/t/font_204824_y3fpu4rgss.eot');
  src: url('//at.alicdn.com/t/font_204824_y3fpu4rgss.woff') format('woff'),
  url('//at.alicdn.com/t/font_204824_y3fpu4rgss.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_204824_y3fpu4rgss.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before { content: "\e601"; }

.icon-arrowright:before { content: "\e65c"; }

.icon-sortasc:before { content: "\ec0c"; }

.icon-guangbo:before { content: "\e639"; }

.icon-sortdesc:before { content: "\e7ff"; }

.icon-star1:before { content: "\e683"; }

.icon-zoom:before { content: "\e629"; }

.icon-more:before { content: "\e674"; }

.icon-aui-icon-star:before { content: "\e62b"; }

.icon-triangle-right:before { content: "\e6e3"; }

.icon-cart:before { content: "\e604"; }

.icon-gengduo:before { content: "\e620"; }

.icon-shang:before { content: "\e63c"; }

.icon-xia:before { content: "\e63d"; }

.icon-zuo:before { content: "\e63e"; }

.icon-zuji:before { content: "\ec0d"; }


html,body {
	height: 100%;
}

body {
	font-size: 12px;
	background-color: #f5f6f8;
}

div,span,i,a {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a {
	text-decoration: none;
	color: #1d1d1d;
}

i {
	font-style: normal;
}

input {
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0;
}

input:-webkit-autofill {
	background-color: transparent;
}

#app {
	max-width: 640px;
	min-width: 320px;
    margin: 0 auto;
}

.app-wrap {
	position: relative;
	width: 100%;
	padding-bottom: 65px;
}

.img {
	display: block;
	max-width: 100%;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.ellipsis {
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}