@import '~normalize.css/normalize.css';

html,body {
	height: 100%;
}

body {
	font-size: 12px;
	background-color: #f5f6f8;
}

a {
	text-decoration: none;
	color: #1d1d1d;
}

input {
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0;
}


#app {
	max-width: 640px;
	min-width: 320px;
    margin: 0 auto;
}

.app-wrap {
	position: relative;
	width: 100%;
	padding-bottom: 65px;
}

.img {
	display: block;
	max-width: 100%;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.ellipsis {
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}