@import '../common/common.css';
@import '../commponents/searchbar.css';
@import '../commponents/footbar.css';
@import '../commponents/loading.css';


#app {
	height: 100%;
	background-color: #efeff4;
	overflow: hidden;
}

.app-wrap {
	height: 100%;
	padding-bottom: 0;
	overflow: hidden;
}

.category-container {
	position: fixed;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 64px;
	z-index: 3;
	display: flex;
	width: 100%;
	background-color: white;
	overflow: hidden;
	touch-action:none;
}

.category-nav {
	position: static;
	width: 25%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #efeff4;
	-webkit-overflow-scrolling:touch;
}

.category-main {
	position: static;
	width: 75%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: white;
	will-change: scroll-position;
	-webkit-overflow-scrolling:touch;
}

.category-name {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #e4e5e6;
	box-sizing: border-box;
	font-size: 14px;
}

.category-name.active {
	color: #ea2329;
	background-color: white;
}

.category-group {
	padding-bottom: 10px;
}

.category-nav-header {
	height: 40px;
	line-height: 40px;
	padding-left: 16px;
	font-size: 16px;
}
.category-nav-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.category-nav-item {
	width: 30%;
}

.category-nav-item a {
	display: block;
	margin: 10px;
	color: #666;
	text-align: center;
}

.category-nav-item img {
	display: block;
	width: 62px;
	height: 62px;
	margin: 0 auto;
}
.category-nav-item .name {
	display: block;
}
