@import '../common/common.css';
@import '../commponents/footbar.css';
@import '../commponents/gotop.css';


.app-download-bar {
	display: none;
}

.app-download-bar.show {
	display: block;
}
.header-view {
	position: relative;
}

.search-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 40px;
}

.search-bar .search-box {
	display: flex;
	align-items: center;
	width: 60%;
	height: 32px;
	background-color: white;
	border-radius: 16px;
	padding: 0 5px;
	box-sizing: border-box;
}

.search-bar .search-box label  {
	display: block;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	background: url(../assets/images/ss-icon.jpg) no-repeat center;
	background-size: 16px 16px;
	margin-right: 5px;
}

.search-bar .search-box input {
	display: block;
	border: none;
	outline:none;
	width: 80%;
	height: 24px;
}

.search-bar .icon-cost {
	width: 16px;
	height: 16px;
	background: url(../assets/images/xx-icon.png) no-repeat left center;
	background-size: 16px;
}

.search-bar .shop-link {
	display: flex;
	align-items: center;
	max-width: 120px;
}

.search-bar .shop-link .shop-name {
	display: block;
	width: 80px;
	color: white;
	text-indent: 5px;
}

.search-bar .shop-link .icon-point {
	display: inline-block;
	width: 22.4px;
	height: 25.6px;
	background: url(../assets/images/dz-icon.png) no-repeat center;
	background-size: cover;
}

.nav-menu {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.nav-menu-item {
	width: 20%;
	text-align: center;
	margin: 5px auto;
}
.nav-menu-icon {
	display: block;
	margin: 0 auto;
	width: 37.5px;
	height:37.5px;
}
.nav-menu-text {
	line-height: 28px;
	color: #666;
}


.swiper-message {
	display: flex;
	width: 95%;
	height: 40px;
	margin: 10px auto;
	background-color: white;
	border-radius: 20px;
	align-items: center;
	font-size: 14px;
	overflow: hidden;
}

.swiper-message .swiper-container{
	flex-grow: 1;
	height: 40px;
}

.swiper-slide-row {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.message-slogan {
	width: 120px;
	padding-left: 10px;
}

.message-slogan span {
	display: inline-block;
	padding: 5px;
	border-radius: 6px;
	margin-left: 4px;
	background-color: #FF6545;
	color: white;
}
.message-core {
	width: 70px;
	margin-left: 5px;
	color: #1D1D1D;
}

.widget {
	display: block;
}

.widget + .widget {
	border-left: 1px solid #ddd;
}

.widget-grid {
	width: 100%;
}

.widget-grid .flex + .flex {
	border-top:1px solid #ddd;
}

.b-b-l {
	border-bottom: 1px solid #ddd;
}

.grid-half {
	width: 50%;
}

.grid-33 {
	width: 33.333%;
}

.grid-25 {
	width: 25%;
}
.flex {
	display: flex;
}
 
.widget-grid-title {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #666;
}

.goods-list-title {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #666;
}

.mutiple-text {
	overflow : hidden;
	text-overflow: ellipsis;
    white-space:normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.goods-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	background-color: white;
}
 
.goods-list-item {
	width: 50%;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.goods-list-item:nth-child(even) a{
	border-left: 1px solid #ddd;
}

.goods-list-item:nth-child(odd) a{
	border-right: 1px solid #fff;
}

.goods-list-item .goods-price {
	position: relative;
	height: 20px;
	line-height: 20px;
}
.goods-list-item .price {
	display: inline-block;
	margin-right: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #ff0000;
}

.goods-list-item .goods-price span::before {
	content: '￥';
	font-size: 12px;
}

.goods-list-item .mkt-price{
	color: #999;
	text-decoration: line-through;
}

.goods-list-item a {
	display: block;
	padding: 5px;
}
.goods-list-item .goods-img {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}

.goods-list-item .buy {
	position: absolute;
	top: 0;
	right: 0;
	padding:0 4px;
	font-size: 12px;
	font-style: normal;
	border: 1px solid #ff0000;
	color: #ff0000;
}

.goods-list-item .goods-title {
    height: 48px;
    line-height: 22px;
    font-size:14px;
}



 
.copy-right {
	text-align: center;
	padding: 10px 0;
}

.copy-right a {
	display: block;
	line-height: 20px;
	color: #999;
}



