@import '../common/common.css';
@import '../commponents/footbar.css';
@import '../commponents/gotop.css';
@import '../common/swiper.min.css';

.app-download-bar {
	display: none;
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 50px;
	background-color: #ed674a;
	max-width: 640px;
}

.app-download-bar .bar {
	height: 100%;
	align-items: center;
}

.app-download-bar .logo {
	width: 40px;
	height: 40px;
	margin-left: 15px;
	background: url(../assets/images/app_2054.jpg) no-repeat center center;
	background-size: cover;
}

.app-download-bar .app-down {
	color: white;
	flex-grow: 1;
	margin-left: 10px;
}

.app-download-bar .app-name {
	font-size: 15px;
}

.app-download-bar .app-desc {
	padding-top: 4px;
	font-size: 12px;
}

.app-download-bar .app-tip {
	width: 100px;
	height: 32px;
	margin-right: 15px;
	text-align: center;
	line-height: 32px;
	background-color: white;
	border-radius: 5px;
	color: #ed674a;
	font-size: 14px;
}

.app-download-bar.show {
	display: block;
}
.header-view {
	position: relative;
}

.banner .swiper-lazy {
	min-height: 180px;
}

.widget-grid .swiper-lazy {
	min-height: 120px;
}

.store-goods .swiper-lazy {
	width: 100%;
	min-height: 80px;
	border: 0;
}

.search-bar {
	position: fixed;
	top: 50px;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 640px;
	height: 50px;
}

.search-bar .search-box {
	display: flex;
	align-items: center;
	width: 50%;
	height: 32px;
	background-color: white;
	border-radius: 16px;
	padding: 0 5px;
	margin: 0 10px;
	box-sizing: border-box;
}

.search-bar .search-box i  {
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 24px;
	color: gray;
}

.search-bar .search-box input {
	display: block;
	border: none;
	outline:none;
	width: 80%;
	height: 24px;
}

.search-bar .icon-cost {
	display: block;
	width: 24px;
	height: 24px;
	font-size: 24px;
	margin-left: 10px;
	color: white;
}

.search-bar .shop-link {
	display: flex;
	align-items: center;
}

.search-bar .shop-link .shop-name {
	display: block;
	width: 80px;
	color: white;
	text-indent: 5px;
}

.search-bar .shop-link .icon-point {
	display: inline-block;
	width: 22.4px;
	height: 25.6px;
	background: url(../assets/images/dz-icon.png) no-repeat center;
	background-size: cover;
}

.nav-menu {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.nav-menu-item {
	width: 20%;
	text-align: center;
	margin: 5px auto;
}
.nav-menu-icon {
	display: block;
	margin: 0 auto;
	width: 37.5px;
	height:37.5px;
}
.nav-menu-text {
	line-height: 28px;
	color: #666;
}


.swiper-message {
	display: flex;
	width: 95%;
	height: 40px;
	margin: 10px auto;
	background-color: white;
	border-radius: 20px;
	align-items: center;
	font-size: 14px;
	overflow: hidden;
}

.swiper-message .swiper-container{
	flex-grow: 1;
	height: 40px;
}

.swiper-slide-row {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.message-slogan {
	width: 120px;
	padding-left: 10px;
}

.message-slogan span {
	display: inline-block;
	padding: 5px;
	border-radius: 6px;
	margin-left: 4px;
	background-color: #FF6545;
	color: white;
}
.message-core {
	width: 70px;
	margin-left: 5px;
	color: #1D1D1D;
}

.widget {
	display: block;
}

.widget + .widget {
	border-left: 1px solid #ddd;
}

.widget-grid {
	width: 100%;
}

.widget-grid .flex + .flex {
	border-top:1px solid #ddd;
}

.b-b-l {
	border-bottom: 1px solid #ddd;
}

.grid-half {
	width: 50%;
}

.grid-33 {
	width: 33.333%;
}

.grid-25 {
	width: 25%;
}
.flex {
	display: flex;
}
 
.widget-grid-title {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #666;
}

.goods-list-title {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #666;
}

.mutiple-text {
	overflow : hidden;
	text-overflow: ellipsis;
    white-space:normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.goods-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	background-color: white;
}

.goods-list .placeholder {
	display: block;
	max-width: 100%;
	opacity: .5;
}
 
.goods-list-item {
	width: 50%;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.goods-list-item:nth-child(even) a{
	border-left: 1px solid #ddd;
}

.goods-list-item:nth-child(odd) a{
	border-right: 1px solid #fff;
}

.goods-list-item .goods-price {
	position: relative;
	height: 20px;
	line-height: 20px;
}
.goods-list-item .price {
	display: inline-block;
	font-size: 18px;
	line-height: 20px;
	color: #ff0000;
}

.goods-list-item .price-s {
	display: inline-block;
	margin-right: 5px;
	font-size: 12px;
	line-height: 20px;
	color: #ff0000;
}

.goods-list-item .goods-price .sign {
	color: #ff0000;
	font-size: 12px;
}

.goods-list-item .mkt-price{
	color: #999;
	text-decoration: line-through;
}

.goods-list-item a {
	display: block;
	padding: 5px;
}
.goods-list-item .goods-img {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}

.goods-list-item .buy {
	position: absolute;
	top: 0;
	right: 0;
	padding:0 4px;
	font-size: 12px;
	font-style: normal;
	border: 1px solid #ff0000;
	color: #ff0000;
}

.goods-list-item .goods-title {
    height: 48px;
    line-height: 24px;
    font-size:14px;
}

.lazy-load-wrap {
	position: relative;
	height: 50px;
}

.lazy-load-text {
	position: relative;
	top: 45px;
	text-align: center;
	color: gray;
}


/**o20**/

.near-store {
	position: relative;
	background-color: white;
}
.store-title {
	height: 40px;
	line-height: 40px;
	padding: 0 1rem;
	font-size: 16px;
    color: #758692;
}
.store-link {
	float: right;
	font-size: 12px;
	color: #758692;
}

.store-link span {
	float: left;
	line-height: 42px;
}

.icon-more {
	padding-left: 2px;
	color: red;
}

.shop-item {
	align-items: center;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.near-store .line {
	margin:0 16px;
	height: 1px;
	background-color: #E8E8E8;
}

.shop-img {
	display: block;
	width: 25%;
	height: 0;
	padding-bottom: 25%;
	margin-right: 10px;
	flex-shrink: 0;
}

.shop-img img {
	border-radius: 5px;
}

.shop-info {
	flex-grow: 1;
	padding: 5px 0;
}
.flex-around {
	justify-content: space-between;
	align-items: center;
}
.near-store .shop-name {
	display: block;
	max-width: 60%;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
.near-store .distance {
	display: block;
	color: gray;
	padding-left: 5px;
}
.near-store .shop-path {
	display: block;
	padding: 5px;
}

.near-store .middle {
	align-items: center;
	flex-grow: 1;
}

.near-store .coupon {
	margin-top: 10px;
	font-size: 14px;
}

.near-store .coupon-tag {
	display: inline-block;
	color: #fff;
    background: #FF6545;
    padding: 2px 4px;
    margin-right: 5px;
}

.near-store .icon-zuji {
	color: red;
	font-size: 18px;
}

.store-goods {
	width: 100%;
	padding: 10px 0;
}
.store-goods-item {
	width: 25%;
}

.store-goods-item a {
	display: block;
	text-align: center;
}

.store-goods-item .price {
	color: #FF6545;
	padding-top: 5px;
}

/** copyright **/
 
.copy-right {
	text-align: center;
	padding: 10px 0;
}

.copy-right a {
	display: block;
	line-height: 20px;
	color: #999;
}



